.THIS {
}
.THIS .field1, .THIS .field2{
    padding-left:100px;
    position:relative;
}
.THIS .field2{
    margin:15px 0px 0px;
}
.THIS .ms-filter-input{
    margin: 0 10px;
    width: 70%;
    height: 30px;
    border-radius: 2px;
    border-style: solid;
    border-width: thin;
    border-color: transparent;
    padding: 2px 5px;
    background: transparent;
}

.THIS .ms-input{
    background-color: rgb(255, 255, 255);
    border:1px solid #ccc;
    border-radius: .25rem;
    width: 100%;
    transition: border .1s linear,background-color .1s linear;
    display: inline-block;
    padding: 0 2rem 0 .75rem;
    line-height: 1.875rem;
    min-height: calc(1.875rem + (1px * 2));
}

.THIS .slds-combobox__form-element:after {
    border-style: solid;
    border-width: .15em .15em 0 0;
    content: '';
    display: inline-block;
    height: .5em;
    left: auto;
    right: 15px;
    position: absolute;
    top: .15em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: .5em;
    border-color: #0a5492;
    top: 12px;
    transform: rotate(135deg);
}

.THIS .ms-refresh-icon{
    position: absolute;
}

.THIS .ms-clear-icon{
    position: absolute;
}

.THIS .ms-dropdown{
    max-height: 500px;
    overflow-y: auto;
}
.THIS {
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
}
.THIS .themify-icon{
    font-family: 'themify-icon';
}

.THIS.slds-card.light_bg{
    background:#fff;
    border-radius: 0px;
    border:none;
    float:left;
    width:100%;
}
.THIS .searchbtnarea{
    margin-top: 40px;
}
.THIS .searchbtnarea button{
    line-height:35px;
    padding: 0 20px 0 30px;
    font-family: 'Open Sans',sans-serif !important;
}
.THIS .searchbtnarea button.themify-icon-search:before{
    position:absolute;
    left:12px;
    font-family: 'themify-icon' !important;
}
.THIS .slds-has-error .slds-form-element__help{
    right: 0px;
    position: absolute;
    bottom: -17px;
}
.THIS .form_row2 label.sr-only {
    position: absolute;
    width: 0px;
    height: 0px;
    overflow: hidden;
}
.THIS.slds-card.light_bg .slds-card__body{
    margin-top:0px;
    float:left;
    width:100%;
}
.THIS .grey_icon{
    color:#ccc;
}
.THIS .active_select{
    color: #2574a9;
}
.THIS .form_row2{
	margin: 30px 0px 0px;;
    border: 1px solid #ccc;
    border-radius: .25rem;
    padding: 0px 15px;
    position:relative;
    display:flex;
    background:#fff;
    align-items:center;
}
.THIS label{
    font-size:100%;
}
.THIS .go_btn{
    position: absolute;
    right: 0px;
    top: 0px;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    margin:0px;
}
.THIS input:-webkit-autofill,
.THIS input:-webkit-autofill:hover, 
.THIS input:-webkit-autofill:focus,
.THIS textarea:-webkit-autofill,
.THIS textarea:-webkit-autofill:hover,
.THIS textarea:-webkit-autofill:focus,
.THIS select:-webkit-autofill,
.THIS select:-webkit-autofill:hover,
.THIS select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
.THIS .slds-card__body{
    padding:0px .75rem;
}

.THIS .slds-select_container:before, .THIS .slds-select_container:after {
    /* position: absolute; */
    /* content: ''; */
    /* display: block; */
    /* right: .5rem; */
    width: 0;
    height: 0;
    border-left: none;
    border-right: none;
    pointer-events: none;
    border-bottom:none;
}
.THIS .slds-select_container:before, .THIS .slds-select_container:before {
    border-style: solid;
    border-width: .15em .15em 0 0;
    content: '';
    display: inline-block;
    height: .5em;
    left: auto;
    right:15px;
    position: absolute;
    top: .15em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: .5em;
    border-color:#0A5492;
    top: 12px;
    transform: rotate(135deg);
}
.THIS .slds-select,.THIS .slds-input{
    border:1px solid #ccc;
    border-radius:4px;
}
.THIS .slds-has-error .slds-input{
    background-color: #fff8f8;
    box-shadow:none;
}
.THIS .clearsearch{
    text-align: right;
    position:absolute;
    bottom:-25px;
    right:0;
}

.THIS .slds-has-error .slds-form-element__help {
    position: absolute;
}

.THIS .slds-select:focus,.THIS .slds-select:active, .THIS .slds-input:focus, .THIS .slds-input:active,.THIS .slds-input:required:focus {
   
    
}
.home_empty_state.THIS {
	width:100%;
    float:left;
    padding:30px 0px;
    text-align:center;
    margin-top: 20px;
}
.home_empty_state.THIS img{
    margin:auto;
    max-width:100%;
}
.home_empty_state.THIS p, .home_empty_state.THIS small{
    display:block;
    text-align:center;
    color:#666777;
}
.home_empty_state.THIS p{
    font-size:20px;
}
.home_empty_state.THIS small{
    font-size:16px;
}

.THIS .f-left.w100{
    float:left;
    width:100%;
}

/* Spinner css*/
.THIS .spinner_container{
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    width:100%;
    height:100%;
    display:flex;
    align-items:center;    
}

.THIS .spinner_container img{
    margin:auto; 
    max-width:100px;
}
.THIS .ellipsis_container{
    width:100%;
    float:left;
}
.THIS .lds-ellipsis {
  display: inline-block;
  position: relative;
  margin:auto;
  width: 64px;
  height: 64px;
}
.THIS .lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #333;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.THIS .lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.THIS .lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.THIS .lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.THIS .lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
.THIS .slds-col{
    position:relative;
}


.THIS .green_btn{
    background-color:#8cc342;
    color:#fff;
    border:none;
    border-radius:20px;
    margin-left: -7px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.15);
}
.THIS .slds-button_brand.green_btn[disabled="true"], .THIS .slds-button_brand.green_btn[disabled="true"]:hover, .THIS .slds-button_brand.green_btn[disabled="true"]:focus{
    background-color:#999 !important;
    color:#fff;
}
.THIS .gray_btn{
    background-color:#efefef;
    color:#333;
    border-radius:20px;
    border:none;
    transition:all .3s;
    box-shadow: 2px 2px 5px rgba(0,0,0,.15);
}
.THIS .gray_btn:focus, .THIS .gray_btn:hover{
    background-color:#ddd;
    color:#333;
    border-radius:20px;
    border:none;
    box-shadow: 2px 2px 5px rgba(0,0,0,.15);
}
.THIS .green_btn span.search_ico{
    margin-right:5px;
}
.THIS .circle-container {
    position: absolute;
    width: 62px;
    height: 78px;
    display: flex;
    margin-top: 40px;
    left: 0;
    padding-left: 20px;
    align-items: center;
    border: 1px dashed #ccc;
    border-right: none;
    margin-left: 62px;
}
.THIS .circle {
    width: 30px;
    height: 30px;
    background: #ccc;
    border-radius: 50%;
    position: absolute;
    margin-left: -35px;
    text-align: center;
    padding-top: 4px;
    font-weight: 700;
    color: #555;
}
.THIS .field1 .slds-form-element:before {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    height: .45em;
    left: -7px !important;
    position: relative;
    top: 38px;
    transform: rotate(-45deg);
    vertical-align: top;
    width: .45em;
    left: 0;
    transform: rotate(45deg);
    border-color: #bbb;
}

.THIS .field2.searchbtnarea:before{
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    height: .45em;
    left: -7px !important;
    position: relative;
    top: 16px;
    transform: rotate(-45deg);
    vertical-align: top;
    width: .45em;
    left: 0;
    transform: rotate(45deg);
    border-color: #bbb;
}
.THIS .field2 .slds-form-element:before {
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    content: '';
    display: inline-block;
    height: .45em;
    left: -7px !important;
    position: relative;
    top: 41px;
    transform: rotate(-45deg);
    vertical-align: top;
    width: .45em;
    left: 0;
    transform: rotate(45deg);
    border-color: #bbb;
}
/* spinner css ends*/

.THIS .multi-select .ms-filter-input {
    margin: 0 10px;
    width: 70%;
    height: 30px;
    border-radius: 2px;
    border-style: solid;
    border-width: thin;
    padding: 2px 5px;
}
.THIS .multi-select .multi-select-search-opt button {
    margin-top: -5px;
    border-color:transparent;
}

.THIS .multi-select .slds-button:focus {
    outline: 0;
    background: #dcdcdc;
    box-shadow: none;
}

.THIS #searchForm .slds-button_brand:hover,.THIS #searchForm .slds-button_brand:focus {
    background-color: #7fb339;
    border-color: transparent;
    color: rgb(255, 255, 255);
}



.THIS .multi-select ul.ms-dropdown{
    width:100%;
}
.THIS .multi-select .slds-picklist li .slds-icon--selected {
    opacity: 1;
    transition: opacity .05s ease;
}
.THIS .multi-select .slds-picklist li .slds-icon--selected svg {
    opacity: 0;
    padding:2px;
    transition: opacity .05s ease;
}
.THIS .multi-select .slds-picklist li.slds-is-selected .slds-icon--selected svg {
    opacity: 1;
    transition: opacity .05s ease;
}
.THIS .multi-select .slds-picklist li.slds-is-selected .slds-icon--selected svg.slds-icon-text-default {
    fill: rgb(255, 255, 255);
}
.THIS .multi-select .slds-picklist li.slds-is-selected {
    background:#F8FAFB;
}
.THIS .multi-select .slds-picklist li{
    border: 1px solid #f3f3f3;
    margin: 0px 5px;
    border-radius: 4px;
}
.THIS .multi-select .multi-select-search-opt{
    background:#E8E8E8;
    padding: 5px 0px 2px;
    margin: 0px 5px 5px;
    border-radius: 4px;
    border:1px solid #d8d8d8;
}

.THIS .multi-select ul li .slds-icon-utility-check{
    width: 20px;
    box-sizing: border-box;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.THIS .multi-select ul li.slds-is-selected .slds-icon-utility-check{
    background:#0a5492;
    border-color:#0a5492;
}

.THIS [data-tip] {
    float: right;
    position: absolute;
    right: 0px;
    top: 5px;
    z-index: 1;
}
.THIS [data-tip] span{
    color:#f89202;
}
.THIS [data-tip]:before {
	content: '';
    display: none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #e7edf0;
    position: absolute;
    top: -8px;
    right: 2px;
    z-index: 8;
    font-size: 0;
    line-height: 0;
    width: 0;
    transform: rotate(180deg);
    height: 0;
}
.THIS [data-tip]:after {
	display: none;
    content: attr(data-tip);
    position: absolute;
    top: -38px;
    right: -24px;
    padding: 15px 8px;
    background: #e7edf0;
    color: #525252;
    z-index: 9;
    font-size: .75em;
    height: 18px;
    box-shadow: 0 -1px 3px rgba(0,0,0,.2);
    line-height: 3px;
    border-radius: 3px;
    white-space: nowrap;
    word-wrap: normal;
}
.THIS [data-tip]:hover:before,
.THIS [data-tip]:hover:after {
	display:block;
}