.THIS {
}

.THIS .ms-filter-input{
    margin: 0px 5%;
    width: 50%;
    height: 30px;
    border-radius: 2px;
    border-style: solid;
    border-width: thin;
    border-color: darkgray;
    padding: 2px 5px;
}

.THIS .ms-input{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(217, 219, 221);
    border-radius: .25rem;
    width: 100%;
    transition: border .1s linear,background-color .1s linear;
    display: inline-block;
    padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
    min-height: calc(1.875rem + (1px * 2));
}

.THIS .ms-refresh-icon{
    position: absolute;
}

.THIS .ms-clear-icon{
    position: absolute;
}

.THIS .ms-dropdown{
    max-height: 500px;
    overflow-y: auto;
}
.THIS {
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
}
.THIS .themify-icon{
    font-family: 'themify-icon';
}

.THIS.slds-card.light_bg{
    background:#F6F8FA;
    margin: 0px -.75rem 0px -.75rem;
    border-radius: 0px;
    border:none;
}
.THIS .slds-has-error .slds-form-element__help{
    right: 15px;
    position: absolute;
    top: 5px;
}
.THIS .form_row2 label.sr-only {
    position: absolute;
    width: 0px;
    height: 0px;
    overflow: hidden;
}
.THIS.slds-card.light_bg .slds-card__body{
    margin-top:0px;
}
.THIS .grey_icon{
    color:#ccc;
}
.THIS .active_select{
    color: #2574a9;
}
.THIS .form_row2{
	margin: 30px 0px 0px;;
    border: 1px solid #ccc;
    border-radius: .25rem;
    padding: 0px 15px;
    position:relative;
    display:flex;
    background:#fff;
    align-items:center;
}
.THIS label{
    font-size:100%;
}
.THIS .go_btn{
    position: absolute;
    right: 0px;
    top: 0px;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    margin:0px;
}
.THIS input:-webkit-autofill,
.THIS input:-webkit-autofill:hover, 
.THIS input:-webkit-autofill:focus,
.THIS textarea:-webkit-autofill,
.THIS textarea:-webkit-autofill:hover,
.THIS textarea:-webkit-autofill:focus,
.THIS select:-webkit-autofill,
.THIS select:-webkit-autofill:hover,
.THIS select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
.THIS .slds-card__body{
    padding:30px .75rem;
}
.THIS .form_row1 label{
    display: inline-block;
    position: absolute;
    left:0px;
    top: 3px;
}
.THIS .form_row2 label{
    position: absolute;
    height: 100%;
    z-index: 1;
    align-items: center;
    top: 0;
    padding: 0;
    display: flex;
}
.THIS .form_row2 .search_section label{
    left:22px;
}
.THIS .form_row1 .org label{
    left:0px;
}
.THIS .form_row2 .m-5-0{
    position:relative;
    padding:0px 15px;
}
.THIS .form_row2 .search_ico{
    position: absolute;
    left: 18px;
    top: 10px;
    background:transparent;
}
.THIS .form_row2 .m-5-0:after{
    content:'|';
    position:absolute;
    font-size:20px;
    right:0px;
    color:#ccc;
    top:0;
}
.THIS .p-l-12{
    padding-left:12px;
}
.THIS .p-l-12 select{
    padding-left:20px;
}
.THIS .form_row2 .m-5-0:before{
    content:'|';
    position:absolute;
    font-size:20px;
    left:0px;
    color:#ccc;
    top:0;
}
.THIS .form_row1 .slds-form-element__control{
    display: inline-block;
    width: 100%;
    padding-left: 165px;
    float: left;
}
.THIS .form_row1 .slds-col{
    position:relative;
}
.THIS .form_row1 .slds-col button{
    position: relative;
    float: right;
    margin-top: -32px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.THIS .form_row2 .p-l-125 .slds-form-element__control{
    padding-left:120px;
}
.THIS .form_row2 .p-l-125 .slds-select_container{
    margin-right:35px;
}
.THIS .slds-select_container:before, .THIS .slds-select_container:after {
    /* position: absolute; */
    /* content: ''; */
    /* display: block; */
    /* right: .5rem; */
    width: 0;
    height: 0;
    border-left: none;
    border-right: none;
    pointer-events: none;
    border-bottom:none;
}
.THIS .slds-select_container:before, .THIS .slds-select_container:before {
    border-style: solid;
    border-width: .15em .15em 0 0;
    content: '';
    display: inline-block;
    height: .5em;
    left: auto;
    right:15px;
    position: absolute;
    top: .15em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: .5em;
    border-color:#0A5492;
    top: 12px;
    transform: rotate(135deg);
}
.THIS .form_row1 .slds-icon-text-default {
    fill: rgb(255, 255, 255);
}
.THIS .form_row1 .slds-icon-standard-account{
    background:transparent;
}
.THIS .form_row2 .slds-form-element__control{
    display:inline-block;
    min-width:100%;
    padding-left:65px;
}
.THIS .form_row2 .search_section .slds-form-element__control{
    padding-left:20px;
}
.THIS .form_row2 .slds-select,.THIS .form_row2 .slds-input{
    border:none;
    border-radius:0px;
}
.THIS .slds-has-error .slds-input{
    background-color: #fff8f8;
    border:none;
    box-shadow:none;
}
.THIS .clearsearch{
    text-align: right;
    position:absolute;
    bottom:-25px;
    right:0;
}

.THIS .slds-has-error .slds-form-element__help {
    position: absolute;
}

.THIS .slds-select:focus,.THIS .slds-select:active, .THIS .slds-input:focus, .THIS .slds-input:active,.THIS .slds-input:required:focus {
    outline: 0;
    background-color: rgb(255, 255, 255);
    box-shadow:none;
}
.home_empty_state.THIS {
	width:100%;
    float:left;
    margin-top:30px;
    text-align:center;
}
.home_empty_state.THIS img{
    margin:auto;
    max-width:100%;
}
.home_empty_state.THIS p, .home_empty_state.THIS small{
    display:block;
    text-align:center;
    color:#666777;
}
.home_empty_state.THIS p{
    font-size:20px;
}
.home_empty_state.THIS small{
    font-size:16px;
}

/* Spinner css*/
.THIS .spinner_container{
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    width:100%;
    height:100%;
    display:flex;
    align-items:center;    
}

.THIS .spinner_container img{
    margin:auto; 
    max-width:100px;
}
.THIS .ellipsis_container{
    width:100%;
    float:left;
}
.THIS .lds-ellipsis {
  display: inline-block;
  position: relative;
  margin:auto;
  width: 64px;
  height: 64px;
}
.THIS .lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #333;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.THIS .lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.THIS .lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.THIS .lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.THIS .lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

/* spinner css ends*/