.THIS {
    position: relative;
    z-index: 1;
}

.THIS .header {
    background-color: #0A5492;
    height:80px;
}

.THIS .header .unum-logo {
    float: left;
    margin: 15px 15px 15px 10px;
    padding: 0px 10px 0px 0px;
    width: 145px;
    height: auto;
    border-right: 1px solid #fff;
}

.THIS .header-subtitle {
    float: left;
    margin: 25px 0px 0px 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    color:#fff;
}
.THIS .slds-builder-header {
    background-color: #0a5492;
    padding:0px;
    min-height: 65px;
}
.THIS .unum_logo{
    position:relative;
}
.THIS .pagename{
    margin-top:12px;
}

.THIS .unum_logo:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 23px;
    background: #fff;
    right: 5px;
    bottom: 15px;
}

.THIS .slds-builder-header .slds-media__body img{height:50px;}
.THIS .slds-builder-header .slds-builder-header__utilities-item span{font-size:24px;}
.THIS .profile-btn{background-color:transparent;border:0;}
.THIS .slds-builder-header .slds-builder-header__utilities-item .profile-btn{margin:0px 15px;cursor:pointer;}
.THIS .slds-builder-header .slds-builder-header__utilities-item .profile-btn .slds-avatar__initials{cursor:pointer;}
.THIS .slds-builder-header .slds-builder-header__utilities-item .profile-btn span{font-size:16px;}
.THIS .slds-builder-header__utilities-item.slds-builder-header__utilities-item{border-left:0px;}
.THIS .slds-builder-header__item + .slds-builder-header__item{border-left:0px;}
.THIS h1.slds-builder-header__item-label{font-size:20px;}
.THIS .slds-text-heading--label{letter-spacing:normal; text-transform:normal;}
.THIS .breadcrumb{padding:7px 10px;}
.THIS .breadcrumb li:last-child{padding-left:7px;}
.THIS .siteforceContentArea .comm-layout-column:not(:empty){padding-top:0px;}
.THIS .slds-builder-header .slds-builder-header__utilities-item .slds-dropdown__item span{font-size:16px;}
.THIS .profile-menu{margin-right:15px;margin-left: 10px; display: flex; align-items: center;}
.THIS .slds-button_icon-more{background: transparent;border-radius: 50%;height: 34px;width: 34px;color:#fff;border: 1px solid #fff;}
.THIS .slds-button_icon-more .slds-button_icon.slds-button__icon_x-small{display:none;}
.THIS .slds-button_icon-more:hover{background:#fff;}
.THIS .slds-builder-header__item-action:focus, .THIS .slds-builder-header__item-action:hover{background: #0a497d; outline:0; color:#fff; text-decoration:none;}
.THIS .slds-button:focus, .THIS a:focus{outline:2px dotted #5fbde3;}