.THIS .selected{
    color:orange;
}
.THIS .enableprint{
    visibility:hidden;
    position:absolute;
    z-index:-1;
}
.THIS .slds-truncate{
    font-size:100%;
}
.THIS .slds-table thead th{
    background-color:#fff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 3px 15px;
}

.THIS .slds-table_col-bordered tr:nth-child(even){
    background-color:#f9f9f9;
}
.THIS .table-container{
    max-width:100%;
    overflow-x:auto;
}
.THIS .user-details {
    background: #ccc;
    margin: 0px 0px 0px;
    padding: 15px;
    border-radius: 5px;
}
.THIS .user-details p {
    margin: 8px 0px;
}
.THIS .icon16{
    font-size:16px;
}
.THIS .m-r-5{
    margin-right:5px;
}
.claim_leave_details_area.THIS .slds-table_bordered{
    border-top:none;
}
.claim_leave_details_area.THIS .leave_tags a{
    background:#3273af;
    color: #fff;
    padding: 1px 6px;
    border-radius: 5px;
    width: 100%;
    display: block;
    text-align: center;
}
.claim_leave_details_area.THIS .claim_tags a{
    background:#5fa143;
    color: #fff;
    padding: 1px 6px;
    border-radius: 5px;
    width: 100%;
    display: block;
    text-align: center;
}
.claim_leave_details_area.THIS .slds-table td{
    padding: 15px 15px;
}
.THIS .d-flex{
    display:flex;
}
.THIS .p5_0{
    padding:5px 0px;
}
.THIS .p10{
    padding:10px;
}
.THIS .align-items-center{
    align-items:center;
}
.THIS .p-relative{
    position:relative;
}
.THIS .download_opt .slds-button_icon-border{
    opacity:0;
}
.THIS .download_opt, .THIS .print_opt{
    display:inline-block;
}
.THIS .download_opt .slds-dropdown-trigger_click{
    position:absolute;
    left:0;
}
.THIS .download_opt .slds-dropdown_left,.THIS .download_opt .slds-dropdown--left{
    left:auto;
    right:0;
}
.claim_leave_details_area.THIS {
    position:relative;
    min-height:500px;
    border: 1px solid #5fa143;
    border-top:4px solid #5fa143;
    border-radius: 4px;
    overflow: visible;
    padding:15px;
}
.claim_leave_details_area.THIS .total_item_numbers {
    position: absolute;
    bottom: 10px;
    left: 15px;
}
.claim_leave_details_area.THIS ul.slds-tabs_default__nav{
    text-align: right;
    display: inline-block;
    float: right;
    position: absolute;
    top: -41px;
    right: 30px;
    border: none;
}
.claim_leave_details_area.THIS ul.slds-tabs_default__nav li{
    display:inline-block;
    padding:0px;
}
.claim_leave_details_area.THIS ul.slds-tabs_default__nav li a{
    padding:0px .75rem;
}
.claim_leave_details_area.THIS ul.slds-tabs_default__nav li.slds-is-active a{
    background-color:#3273af;
    color:#fff;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    transition:all .3s;
}
.claim_leave_details_area.THIS ul.slds-tabs_default__nav li:last-child{
    display:none;
}
.THIS .avatar_det span{
    width: 100%;
    display: block;
    font-weight:bold;
}
.THIS .avatar_det .section_name{
    font-size:10px;
    text-transform:uppercase;
}
.THIS .download_opt img, .THIS .print_opt img{
    height:20px;
}
.THIS .bg-white{
    background:#fff;
}

.THIS .neutral_tags{
    padding: 3px 15px;
    background: #666;
    border-radius: 5px;
    color: #fff;
    text-align: center;
}

/*Tabset css starts here*/

.claim_leave_details_area.THIS .tabset {
    float: left;
    width: 100%;
}
.claim_leave_details_area.THIS .tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
    }

    .claim_leave_details_area.THIS .tabset .tab-panel {
    display: none;
    }

    .claim_leave_details_area.THIS .tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
    .claim_leave_details_area.THIS .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
    .claim_leave_details_area.THIS .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
    .claim_leave_details_area.THIS .tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
    .claim_leave_details_area.THIS .tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
    .claim_leave_details_area.THIS .tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
    }


    .claim_leave_details_area.THIS .tabset > label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
    }

    .claim_leave_details_area.THIS .tabset > label:hover,
    .claim_leave_details_area.THIS .tabset > input:focus + label {
    color: #06c;
    }



    .claim_leave_details_area.THIS .tabset > input:checked + label {
    
    }
.claim_leave_details_area.THIS .tabset label.c_label, .claim_leave_details_area.THIS .tabset label.l_label {
    position: absolute!important;
    top: -46px;
    padding: 0 7px!important;
    height: 30px;
    line-height: 30px;
    border-radius:5px;
    transition:all .3s;
    color:#fff !important;
    }
.claim_leave_details_area.THIS .tabset label.c_label{
    right:70px !important;
    background-color:#5fa143;
}
.claim_leave_details_area.THIS .tabset label.l_label{
    right:40px !important;
    background-color:#3273af;
}
.claim_leave_details_area.THIS .tabset > input:checked + label {
    height:46px;
}

    .claim_leave_details_area.THIS .tab-panel {
    padding: 30px 0;
    }
/*Tabset css ends here*/

.THIS [data-tip] {
	position:relative;

}
.THIS [data-tip]:before {
	content: '';
    display: none;
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #e7edf0;
    position: absolute;
    top: -8px;
    left: 6px;
    z-index: 8;
    font-size: 0;
    line-height: 0;
    width: 0;
    transform: rotate(180deg);
    height: 0;
}
.THIS [data-tip]:after {
	display: none;
    content: attr(data-tip);
    position: absolute;
    top: -38px;
    left: -62px;
    padding: 15px 8px;
    background: #e7edf0;
    color: #525252;
    z-index: 9;
    font-size: .75em;
    height: 18px;
    box-shadow: 0px -1px 3px rgba(0,0,0,.2);
    line-height: 3px;
    border-radius: 3px;
    white-space: nowrap;
    word-wrap: normal;
}
.THIS [data-tip]:hover:before,
.THIS [data-tip]:hover:after {
	display:block;
}

/* show / hide toggle */
.THIS .show_hide_switch{
                position: relative;
                float: right;
                width: 280px;
                display: inline-block;
            }
            .THIS .show_hide_switch p{
                display: inline-block;
                margin: 5px 0px;
            }
            .THIS .switch_container{
                width: 150px;
                position: relative;
                height: 30px;
                background: #ccc;
                border-radius: 5px;
                color: #777;
                overflow: hidden;
                text-align: center;
                display: inline-block;
                float: right;
            }
            .THIS .yes, .THIS .no{
                width:50%;
                float: left;
                height: 30px;
                line-height: 30px;
                cursor: pointer;
            }
            .THIS .moving-tab{
                position: absolute;
                width:75px;
                height:30px; 
                background: #5fa143;
                text-align: center;
                line-height: 30px;
                align-items: center;
                left: 0px;
                top:0px;
                color: #fff;
                transition: all .3s;
            }